body {
    font-size: 18px;
}
.green {
    color: green ;
}
.red {
    color: red;
}
.blue {
    color:blue;
}
img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}
.n {
    display: flex;
    justify-content: space-around;
}
.margin {
    display: flex;
    justify-content: center;
}